.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  .Logos {background-color: #4CAF50;} /* Green */
.Logos:hover {background-color: #46a049;}

  .Products {background-color: #2196F3;} /* Blue */
.Products:hover {background: #0b7dda;}

 .Stores {background-color: #ff9800;} /* Orange */
.Stores:hover {background: #e68a00;}

  .NewArrival {background-color: #f44336;} /* Red */ 
.NewArrival:hover {background: #da190b;}

  .Home {background-color: #e7e7e7; color: black;} /* Gray */ 
.Home:hover {background: #ddd;}
}
